<% @page_title = "#{@ook.id}: #{h @ook.metadata('title')}"; @active = 1 %>

<% if @ook.private? %>
  <div class="zhookRepublish">
    <form action="/publish" method="POST" enctype="multipart/form-data">
      <% if @ook && @ook.invalidity %>
        <p class="warn">
          <%= Rack::Utils.escape_html(@ook.invalidity.inspect) %>
        </p>
      <% end %>
      <fieldset>
        <legend>Made changes? Re-upload your Zhook</legend>
        <input type="hidden" name="id" value="<%= @ook.id %>" />
        <input type="hidden" name="security" value="private" />
        <p>
          <input type="file" name="file" />
        </p>
        <p>
          <input type="submit" value="Publish" />
        </p>
      </fieldset>
    </form>
  </div>
<% end %>


<div id="zhookCover">
  <img src="/book/<%= @ook.id %>/cover.png" />
</div>

<div class="zhookReaderLink">
  <a href="/<%= @ook.id %>/read">View in Zhook Reader</a>
</div>

<div class="ochookReaderLink">
  <a href="/book/<%= @ook.id %>/">View as Ochook</a>
</div>

<div class="epubDownloadLink">
  <a href="/<%= @ook.id %>/format/epub">Download EPUB</a>
</div>

<!--
<div class="zhookDownloadLink">
  <a href="/<%= @ook.id %>/format/zhook">Download Zhook</a>
</div>
-->


