<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/book_data.css" />
    <title><%= @page_title %></title>
  </head>
  <body>

    <ul>
      <li><a href="/<%= @ook.id %>"><%= h @ook.metadata('title') %></a></li>
      <li><a href="/<%= @ook.id %>/contents">Contents</a></li>
      <li><a href="/<%= @ook.id %>/metadata">Metadata</a></li>
      <li><a href="/<%= @ook.id %>/html">HTML</a></li>
    </ul>

    <%= yield %>

  </body>
</html>

