<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/book_data.css" />
    <title><%= @page_title %></title>
  </head>
  <body>

    <h1><a href="/">Zhook Publisher</a></h1>

    <% if @ook %>
      <ul id="toolbar">
        <li><a class="mainTool <%= "active" if @active == 1 %>" href="/<%= @ook.id %>"><%= h @ook.metadata('title') %></a></li>
        <li><a class="<%= "active" if @active == 2 %>" href="/<%= @ook.id %>/contents">Contents</a></li>
        <li><a class="<%= "active" if @active == 3 %>" href="/<%= @ook.id %>/metadata">Metadata</a></li>
        <li><a class="<%= "active" if @active == 4 %>" href="/<%= @ook.id %>/html">HTML</a></li>
      </ul>
    <% end %>

    <div id="internals">
      <%= yield %>
    </div>

  </body>
</html>

