<!DOCTYPE html>
<html manifest="<%= @ook.public_path(@ook.id, "ochook.manifest") %>">
  <head>
    <title><%= h(@ook.metadata('title')) %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script type="text/javascript" src="/read.js"></script>
    <link rel="stylesheet" type="text/css" href="/read.css" />
  </head>
  <body>
    <img id="cover" src="/book/<%= @id %>/cover.png" onclick="read()" />
    <div id="nav">
      <div id="tocCntr"><%= @ook.toc_html %></div>
      <div id="tocButtons">
        <div id="tocArrLeft">&larr;</div>
        <div id="tocArrRight">&rarr;</div>
        <div id="tocTab"></div>
      </div>
    </div>
    <iframe id="reader" src="/book/<%= @id %>/index.html" onload="setup()">
    </iframe>
  </body>
</html>
